@model MyFirstWebsite.Models.Pengecers

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @*@Html.AntiForgeryToken()*@
    
    <div class="form-horizontal">
        <h4>Pengecer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Pengecer_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pengecer_Id)
                @Html.ValidationMessageFor(model => model.Pengecer_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alamat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alamat)
                @Html.ValidationMessageFor(model => model.Alamat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kecamatan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kecamatan)
                @Html.ValidationMessageFor(model => model.Kecamatan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telpon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telpon)
                @Html.ValidationMessageFor(model => model.Telpon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Faks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Faks)
                @Html.ValidationMessageFor(model => model.Faks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NPWP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NPWP)
                @Html.ValidationMessageFor(model => model.NPWP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aktif, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Aktif, new SelectList(
                  new List<Object>{
                       new { value = "1" , text = "Aktif"  },
                       new { value = "0" , text = "Tidak Aktif" }
                    }, "value", "text", 2))
                @Html.ValidationMessageFor(model => model.Aktif)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Createdon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Createdon)
                @Html.ValidationMessageFor(model => model.Createdon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Createdby, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Createdby)
                @Html.ValidationMessageFor(model => model.Createdby)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
