@model MyFirstWebsite.Models.Pengecers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pengecer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kecamatan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kecamatan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telpon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telpon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPWP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPWP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdby)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pengecer_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
