@model IEnumerable<MyFirstWebsite.Models.Pengecers>

@{
    ViewBag.Title = "Index";
}

<h2>Index - Pengecer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kecamatan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telpon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NPWP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Createdon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Createdby)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alamat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kecamatan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telpon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NPWP)
        </td>
        @if (item.Aktif.Equals("1"))
        {
            <td>Aktif</td>
        }
        else
        {
            <td>Tidak Aktif</td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Createdon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Createdby)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pengecer_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pengecer_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pengecer_Id })
        </td>
    </tr>
}

</table>
