@model IEnumerable<MyFirstWebsite.Models.DistributorAssigns>

@{
    ViewBag.Title = "Index";
}

<h2>Index - Assign Distributor</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aktif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Edited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time_Edited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NPK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SP36)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name) AE/Asisten AE
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distributor.Name) Distributor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.Aktif.Equals("1"))
        {
            <td>Aktif</td>
        }
        else
        {
            <td>Tidak Aktif</td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Date_Edited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time_Edited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NPK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SP36)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distributor.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DistributorAssign_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.DistributorAssign_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DistributorAssign_Id })
        </td>
    </tr>
}

</table>
